html.wf-robotocondensed-n4-active.wf-robotocondensed-n7-active {
  body {
    font-family: "Roboto Condensed", monospace
  }

}

.logo img {
  max-width: 100%;
}
.logo {
  height: 200px;
  &.logo-background {
    background-image: url('~assets/images/slogan-larger.svg');
    background-size: contain;
    background-position: center;
    padding-bottom: 55%;
    background-repeat: no-repeat;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -1000px 0
  }
  100%{
      background-position: 1000px 0
  }
}

.animated-background {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 100% 104px;
  height: 96px;
  position: relative;
}

.table-loading {
  .table-loading-row {
    height: 56px;
    margin-top: 8px;
    @extend .animated-background;
  }

}

.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
  &::after {
    content: "...";
    position: absolute;
    right: 10px;
  }
}


.bg-home {
  background: url("~/assets/images/bg-home-page.png") #ffda4a no-repeat;
  position: relative;
  background-size: cover;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
}

.bg-form {
  background: #ffcb05;
  position: relative;
  background-size: cover;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
}

.bg-leaf {
  flex: 1;
  width: 100%;
  height: 100%;
  background: url("~/assets/images/leaf-left.svg") left -9rem top 2rem no-repeat,
    url("~/assets/images/leaf-right.svg") right -14rem bottom -14rem no-repeat;
  background-size: 25rem;
}

.bg-leaf-banner-bottom {
  flex: 1;
  width: 100%;
  height: 100%;
  background: url("~/assets/images/pattern_fund_left.svg") left -10rem top 2rem no-repeat,
    url("~/assets/images/pattern_fund_right.svg") right -6.5rem bottom 0rem no-repeat;
  background-size: 25rem;
}

.btn-defaut {
  cursor: pointer;
  a {
    background: #ffd52a;
    border: 1px solid #ffd52a;
    padding: 10px 25px;
    font-weight: bold;
    color: #000;
    display: inline-block;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.form-group {
  display: block;
  align-items: flex-start;
  font-family: "Roboto Condensed", sans-serif;

  &.form-radio {
    >label {
      margin-top: 0
    }
  }

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }

  >label {
    flex: 0 0 160px;
    margin-top: 5px;
    font-weight: bold;

    @media only screen and (max-width: 500px) {
      flex: none;
    }
  }

  textarea,
  input,
  .group-radio {
    width: 100%;
    border-radius: 0;
    border: unset;
  }

  input {
    height: 35px;
  }

  input,
  textarea {
    &.error {
      border-color: #dc3545;
    }

    &:focus {
      outline: none;
      border-color: #ffcb05;
      box-shadow: unset;
    }

    width: 100%;
    font-size: 19px;
    color: #000;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #888;
    transition: all 0.25s;
    border-radius: 0;
    padding: 0;
  }

  .group-radio {
    display: flex;
    flex-grow: 1;

    .custom-control {
      align-items: center;
      display: flex;
      flex-wrap: wrap;

      &:first-child {
        margin-right: 30px;
      }

      label {
        width: 100%;
      }
    }
  }
}

footer {
  ul {
    list-style: none;
    padding-left: 0;
  }

  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 2px;
    border-top: 0.2rem solid #ffcb05;
  }
}

.app-footer {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-size: 18px;
  background-color: #efeeec;
  font-weight: 400;

  h4 {
    font-weight: bold;
  }

  a {
    color: #000;
  }

  .container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .block-heading,
  li,
  span {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.app-branding-footer {
  max-width: 18.3rem;
}

.banner-bottom {
  background: url('~/assets/images/bg_kid.png') bottom no-repeat;
  height: 42rem;
  position: relative;
  width: 100%;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2rem;
    width: 100%;
    background: #efeeec;
  }
}

@media only screen and (max-width: 550px) {

  .bg-leaf,
  .bg-leaf-banner-bottom {
    background-image: unset;
  }

  .banner-bottom {
    height: 14rem;
  }
}

.page-title {
  margin-bottom: 25px;
  font-size: 28px;
  font-family: "Yeseva One", sans-serif;
  text-transform: uppercase;
  text-align: center;

  @media only screen and (max-width: 550px) {
    font-size: 24px;
  }
}

.table-main {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 1rem;

  .table-body {
    font-family: "Yeseva One", sans-serif;
  }

  .card-row {
    border-radius: 12px;
    align-items: center;
    display: flex;

    .index {
      position: relative;
      padding: 12px 30px;

      &:after {
        content: "";
        right: 25px;
        top: 0;
        width: 2px;
        height: 100%;
        position: absolute;
        background-color: #f5f5f5;
      }
    }

    .name {
      padding: 0;
    }

    .detail {
      font-family: "Roboto Condensed", sans-serif;
      text-align: center;

      a {
        color: #000;
        border-bottom: 1px solid;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .price {
      color: #ffcb05;
      font-weight: 700;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 20px;
      text-align: right;
    }
  }

  .card-row-mobile {
    display: none;
    align-items: center;
    border-radius: 15px;

    .index {
      text-align: center;
    }

    .col-10 {
      padding-top: 10px;
      padding-bottom: 10px;

      &:before {
        content: "";
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        position: absolute;
        background-color: #f5f5f5;
      }

      p {
        margin-bottom: 0;
      }

      .detail {
        font-family: "Roboto Condensed", sans-serif;

        a {
          color: #000;
          border-bottom: 1px solid;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .price {
        color: #ffcb05;
        font-weight: 500;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 18px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .card-row {
      display: none;
    }

    .card-row-mobile {
      display: flex;
    }
  }
}
